@font-face {
  font-family: Inter-Regular;
  src: url(./assets/inter/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-Bold;
  src: url(./assets/inter/Inter-Bold.ttf);
}

@font-face {
  font-family: Inter-SemiBold;
  src: url(./assets/inter/Inter-SemiBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter-Regular;
  background-color: #0f0f0f;
  color: #fff;
}